{{#if (or @artists.length @albums.length @tracks.length)}}
  <div class="ui top attached tabular menu">
    <a class="item {{if this.artistsTabActive "active"}}" {{on "click" this.showArtistsTab}}>{{t "artists"}}</a>
    <a class="item {{if this.albumsTabActive "active"}}" {{on "click" this.showAlbumsTab}}>{{t "albums"}}</a>
    <a class="item {{if this.tracksTabActive "active"}}" {{on "click" this.showTracksTab}}>{{t "tracks"}}</a>
  </div>

  <div class="ui bottom attached tab segment active" data-tab="first">

    {{#if this.artistsTabActive}}
      <section class="ui grid">
        {{#each @artists as |artist|}}
          <div class="four wide column">
            <Card
              @name={{artist.name}}
              @id={{artist.id}}
              @imageUrl={{artist.imgMd}}
              @route="search.artist"
            />
          </div>
        {{/each}}
      </section>
      <div class="button-container">
        <button
          class="ui primary button {{if (or @paginateArtists.isRunning (eq @artistOffset 1)) "disabled"}}"
          {{on "click" (perform @paginateArtists false)}}
        >
          {{t "prev"}}
        </button>
        <button
          class="ui primary button {{if @paginateArtists.isRunning "disabled"}}"
          {{on "click" (perform @paginateArtists true)}}
        >
          {{t "next"}}
        </button>
      </div>
    {{/if}}

    {{#if this.albumsTabActive}}
      <section class="ui grid">
        {{#each @albums as |album|}}
          <div class="four wide column">
            <Card
              @name={{album.name}}
              @id={{album.id}}
              @imageUrl={{album.imgMd}}
              @route="search.album"
            />
          </div>
        {{/each}}
      </section>
      <div class="button-container">
        <button
          class="ui primary button {{if (or @paginateAlbums.isRunning (eq @albumOffset 1)) "disabled"}}"
          {{on "click" (perform @paginateAlbums false)}}
        >
          {{t "prev"}}
        </button>
        <button
          class="ui primary button {{if @paginateAlbums.isRunning "disabled"}}"
          {{on "click" (perform @paginateAlbums true)}}
        >
          {{t "next"}}
        </button>
      </div>
    {{/if}}

    {{#if this.tracksTabActive}}
      <section class="ui grid">
        {{#each @tracks as |track|}}
          <div class="four wide column">
            <Card
              @name={{track.name}}
              @id={{track.id}}
              @imageUrl={{track.album.imgMd}}
              @route="search.track"
            />
          </div>
        {{/each}}
      </section>
      <div class="button-container">
        <button
          class="ui primary button {{if (or @paginateTracks.isRunning (eq @trackOffset 1)) "disabled"}}"
          {{on "click" (perform @paginateTracks false)}}
        >
          {{t "prev"}}
        </button>
        <button
          class="ui primary button {{if @paginateTracks.isRunning "disabled"}}"
          {{on "click" (perform @paginateTracks true)}}
        >
          {{t "next"}}
        </button>
      </div>
    {{/if}}

  </div>
{{/if}}

