<h3>Artists</h3>
<section class="ui grid">
  {{#each @artists as |artist|}}
    <div class="four wide column">
      <Card
        @name={{artist.name}}
        @id={{artist.id}}
        @imageUrl={{artist.imgMd}}
        @route="search.artist"
      />
    </div>
  {{/each}}
</section>

<h3>Albums</h3>
<section class="ui grid">
  {{#each @albums as |album|}}
    <div class="four wide column">
      <Card
        @name={{album.name}}
        @id={{album.id}}
        @imageUrl={{album.imgMd}}
        @route="search.album"
      />
    </div>
  {{/each}}
</section>

<h3>Tracks</h3>
<section class="ui grid">
  {{#each @tracks as |track|}}
    <div class="four wide column">
      <Card
        @name={{track.name}}
        @id={{track.id}}
        @imageUrl={{track.album.imgMd}}
        @route="search.track"
      />
    </div>
  {{/each}}
</section>
