<aside class="sidebar {{if (not this.showModal) "sidebar--hidden"}}">
  <div class="sidebar_header">
    <h1>{{t "album"}}</h1>
    <button
      class="mini ui button sidebar_close_button"
      {{on "click" (fn (mut this.showModal) false)}}
    >
      X
    </button>
  </div>

  <article class="ui card">
    <div class="image">
      <img src={{this.model.imgMd}}>
    </div>
    <div class="content">
      <span class="header">{{this.model.name}}</span>
      <div class="meta">
        <span class="date">{{this.model.releaseDate}}</span>
      </div>
    </div>
  </article>

  <h3>{{t "tracks"}}</h3>

  {{#each this.model.tracks as |track|}}
    <p>
      <LinkTo @route="search.track" @model={{track.id}}>{{track.name}} {{ms-to-minutes track.durationMs}}</LinkTo>
    </p>
  {{/each}}
</aside>




