<section
  class="container"
  {{did-update (perform this.searchRecords) this.query}}
>
  <h1>{{t "search.title"}}</h1>

  <div class="ui icon input container_input {{if this.loading "loading"}}">
    <Input
      placeholder="Search..."
      {{on "input" (perform this.updateQuery)}}
      @value={{this.query}}
    />
    <i class="search icon"></i>
  </div>

  {{#if this.loading }}
    <div class="ui active centered inline loader"></div>
  {{else}}
    <ResultList
      @artists={{this.artists}}
      @albums={{this.albums}}
      @tracks={{this.tracks}}
      @paginateArtists={{this.paginateArtists}}
      @paginateAlbums={{this.paginateAlbums}}
      @paginateTracks={{this.paginateTracks}}
      @artistOffset={{this.artistOffset}}
      @albumOffset={{this.albumOffset}}
      @trackOffset={{this.trackOffset}}
    />
  {{/if}}

</section>

{{#if this.resolutionManager.isDesktop}}
  {{outlet}}
{{else}}

  {{#unless (not this.showModal)}} <!-- TODO: We could create a Modal component -->
    <div class="ui modal">
      <div class="header close-button">
        <a {{on "click" (fn (mut this.showModal) false)}}>X</a>
      </div>
      <div class="content">
        {{outlet}}
      </div>
    </div>
  {{/unless}}

{{/if}}
